h1 { font-family: 'Josefin Sans', sans-serif;
font-family: 'Merriweather', serif;
 }

 h2 { font-family: 'Josefin Sans', sans-serif;
font-family: 'Merriweather', serif;
 }

 h3 { font-family: 'Josefin Sans', sans-serif;
font-family: 'Merriweather', serif;
 }

 body {font-family: 'Merriweather', serif;}